{% extends 'admin/model/modals/details.html' %}
{% from 'admin/model/modals/classroom_table.html' import render_classroom_table with context %}

{% block details_table %}
    <table class="table table-hover table-bordered searchable">
        {% for c, name in details_columns %}
            <tr>
                <td>
                    <b>{{ name }}</b>
                </td>
                <td>
                    {{ get_value(model, c) }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>
                <b>Sỉ số</b>
            </td>
            <td>
                {{ model.students|length }}
            </td>
        </tr>
    </table>
    {{ render_classroom_table(students=model.students) }}
{% endblock %}