<label class="ml-10">Tim kiem hoc sinh</label>
<input type="text" class="search-student mb-3"/>
<table data-teach-id="{{ model.teach_id }}"
       class="teach-detail table table-striped table-bordered table-hover model-list">
    <thead>
    <tr>
        <th></th>
        <th>Họ</th>
        <th>Tên</th>
        <th>Điểm 15'</th>
        <th>Điểm 1 tiết</th>
        <th>Điểm thi</th>
    </tr>
    </thead>
    <tbody>
    {% for student in model.students %}
        <tr class="exam" data-exam-id="{{ student.exam.id }}" data-student-id="{{ student.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.first_name }}</td>

            <td data-exam-type="normal" data-factor="I">
                {% set count = namespace(value=0) -%}
                {% for d in student.exam.normal_exams %}
                    {% if d.factor.value == 1 %}
                        {% set count.value = count.value + 1 %}
                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#exam-modal"
                                data-id="{{ d.id }}">
                            {{ d.score }}
                        </button>
                    {% endif %}
                {% endfor %}

                {% if count.value < 5 %}
                    <button type="button" class="btn btn-success add" data-toggle="modal"
                            data-target="#exam-modal"
                            data-factor="I">
                        Thêm
                    </button>
                {% endif %}
            </td>
            <td data-exam-type="normal" data-factor="II">
                {% set count = namespace(value=0) -%}
                {% for d in student.exam.normal_exams %}
                    {% if d.factor.value == 2 %}
                        {% set count.value = count.value + 1 %}

                        <button type="button" class="btn btn-secondary" data-toggle="modal"
                                data-target="#exam-modal"
                                data-id="{{ d.id }}">
                            {{ d.score }}
                        </button>
                    {% endif %}
                {% endfor %}

                {% if count.value < 3 %}
                    <button type="button" class="btn btn-success add" data-toggle="modal"
                            data-target="#exam-modal"
                            data-factor="II">
                        Thêm
                    </button>
                {% endif %}
            </td>

            <td data-exam-type="final">
                <button style="width: 47px; height: 36px" type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#exam-modal">
                    {% if student.exam is not none and student.exam.final_exam is not none %}
                        {{ student.exam.final_exam.score }} {% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="modal fade" id="exam-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="top: 15%" role="document">
        <div class="modal-content" style="background-color: #d9d9d9">
            <div class="modal-body d-flex justify-content-between">
                <input type="number" step="0.01"/>
                <span class="msg text-danger"></span>
                <div>
                    <button type="button" class="btn btn-primary submit">Lưu</button>
                    <button type="button" class="btn btn-danger delete">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>
