<table class="table table-striped table-bordered table-hover model-list">
        <thead>
        <tr>
            <th></th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Điểm 15'</th>
            <th>Điểm 1 tiết</th>
            <th>Điểm thi</th>
        </tr>
        </thead>
        <tbody>
        {% for e in model.exams %}
            <tr class="exam" id="{{ e.id }}">
                <td>{{ loop.index }}</td>
                <td>{{ e.student.last_name }}</td>
                <td>{{ e.student.first_name }}</td>

                <td class="d15 multiple-score">
                    {% for d in e.normal_exams %}
                        {% if d.factor.value == 1 %}
                            <input type="number" class="normal-exam" id="{{ d.id }}" step="0.1" style='width:20%' value='{{ d.score }}' {% if readonly %}readonly {% endif %}/>
                            {% endif %}
                    {% endfor %}
                </td>
                <td class="d45 multiple-score">
                    {% for d in e.normal_exams %}
                        {% if d.factor.value == 2 %}
                            <input type="number" class="normal-exam" id="{{ d.id }}" style='width:20%' value='{{ d.score }}' {% if readonly %}readonly {% endif %}/>
                        {% endif %}
                    {% endfor %}
                </td>

                <td ><input type="number" class="final-exam" id="{{ e.final_exam.exam_id }}" value='{{ e.final_exam.score }}'  {% if readonly %}readonly{% endif %}/></td>
            </tr>
        {% endfor %}
        </tbody>
</table>