{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}

<div class="container">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                        <ol class="breadcrumb mb-0 flex">
                            <h1 class="text text-center text-info"> THÔNG TIN TÀI KHOẢN</h1>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                           <div style="width: 100%">
                               <img src="{{current_user.avatar}}" alt="avatar"
                                 class="rounded-circle img-fluid" width="75%">
                           </div>
                            <h5 class="my-3">{{current_user.username}}</h5>
                            <p class="text-muted mb-1">Vai trò: {{current_user.role.name}}</p>
                            <p class="text-muted mb-4">Thời gian tạo tài khoản:
                                {{current_user.joined_date.strftime('%d/%m/%Y')}}</p>
                            <div class="d-flex flex-column">
                                <div class="p-2 ">
                                    <form action="/admin/upload" method="post" enctype="multipart/form-data">

                                        <input type="file" id="avatar" name="avatar" class="form-control"
                                               placeholder="Upload a image file"/>
                                        <button type="submit" class="btn btn-primary btn-sl mt-2">Thay đổi avatar
                                        </button>
                                    </form>
                                </div>
                                <div class="p-2 ">
                                    <a type="button" class="btn btn-danger btn-sl" href="/logout">Đăng Xuất</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Full Name: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.last_name + " " +
                                        current_user.first_name}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Date Of Birth: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.dob.strftime('%d/%m/%Y')}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Sex: </p>
                                </div>
                                <div class="col-sm-9">
                                    {% if current_user.sex == True %}
                                    <p class="text-muted mb-0">Male</p>
                                    {% else %}
                                    <p class="text-muted mb-0">Female</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.email}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.phone}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Address: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% else %}
    {% include 'admin/login.html' %}
    {% endif %}
</div>
{% endblock %}