{% extends 'admin/master.html' %}

{% block body %}
{% if current_user.is_authenticated %}
    <style>
        nav.navbar {
            display: block !important;
        }
    </style>
<form action="/admin/upload" method="post" enctype="multipart/form-data">
    <section style="background-color: #eee;">
        <div class="container py-5">
            <div class="row">
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{{current_user.avatar}}" alt="avatar"
                                  class="rounded-circle img-fluid" width="75%">
                            <h5 class="my-3">{{current_user.username}}</h5>
                            <p class="text-muted mb-1">Vai trò: {{current_user.role.name}}</p>
                            <p class="text-muted mb-4">Thời gian tạo tài khoản:
                                {{current_user.joined_date.strftime('%d/%m/%Y')}}</p>
                            <div class="d-flex justify-content-center mb-2">
                                <a type="button" class="btn btn-danger m-2" href="/logout">ĐĂNG XUẤT</a>
                                <button type="submit" class="btn btn-primary m-2" >Thay
                                    đổi avatar</button>
                            </div>
                            <input type="file" id="avatar" name="avatar" class="form-control"
                                   placeholder="Upload a image file"/>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Họ Và Tên: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user}}</p>
                                </div>
                            </div>
                            <hr>
                             <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Ngày Sinh: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"> {{current_user.dob.strftime('%d/%m/%Y')}}</p>
                                </div>
                            </div>
                            <hr>
                             <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Giới Tính: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0"> {{current_user.sex.name}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.email}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Số Điện Thoại: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.phone}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Địa Chỉ: </p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{current_user.address}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% else %}
    <style>
        nav.navbar {
            display: none !important;
        }
    </style>
{% include 'admin/login.html' %}
{% endif %}
</form>
{% endblock %}