<!--header-->
<header class="main-header clearfix" role="header">
    <div class="logo">
        <a href="#"><em>HDH</em> School</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
            <li><a href="#section1">Home</a></li>
            <li class="has-submenu"><a href="#section2">About Us</a>
                <ul class="sub-menu">
                    <li><a href="#section2">Who we are?</a></li>
                    <li><a href="#section3">What we do?</a></li>
                    <li><a href="#section3">How it works?</a></li>
                </ul>
            </li>
            <li><a href="#section4">Courses</a></li>
            <li><a href="#section5">Scores</a></li>
            <li><a href="#section6">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li><img src="{{current_user.avatar}}" class="rounded" width="50" height="50"/>
                <a href="/admin" class="btn btn-info">
                Chào {{current_user.first_name}}</a>
            </li>
            {% else %}
            <li><a href="/admin" class="btn btn-info">Login</a></li>
            {% endif %}}
        </ul>

    </nav>

</header>