{% extends 'admin/master.html' %}
{% macro render_table(labels, cols, datas, is_list=False) -%}

    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
        <tr>
            {% if is_list %}
                <th class="">&nbsp;</th>
            {% endif %}

            {% for label in labels %}
                <th>
                    {{ label }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <!-- Thống kê bên ngoài -->
        {% for data in datas %}
            <tr>
                {% if is_list %}
                    <td>
                        <a class="icon a-modals" data-target="#statsModal" title="Thống kê"
                           href="{{ url_for('.stats_detail', id=data['id']) }}"
                           data-toggle="modal">
                            <span class="fa fa-bar-chart"></span>
                        </a>
                    </td>
                {% endif %}
                <!-- Thống kê chi tiết -->
                {% for col in cols %}
                    <td>
                        {{ data[col] }}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%- endmacro %}

{% block body %}
    {{ super() }}

    {{ render_table(labels=data.labels, cols=data.cols, datas=data.data, is_list=True) }}

    <div class="modal fade" id="statsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content" style="background-color: white">

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='assets/js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/chartjs-plugin-stacked100.js') }}"></script>

    <script>
        $(".a-modals").click(function (event) {
            var url = this.href

            $.ajax({
                type: 'GET',
                url: url,
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: (data) => {
                    $('.modal-content').html(data)
                },
                error: (res) => {
                    $('.modal-content').html(`
                    <div class="modal-body">
                        ${res.responseJSON.err}
                    </div>
                    `)
                }
            })
        })
    </script>
{% endblock %}